@model TestTask.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRegister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Organization Name</th>
                    <th>Payed</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Organization.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Payed)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
